In [37]:
# Import the libs
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
from IPython.display import Image
from io import StringIO
import pydotplus
from sklearn import preprocessing, tree, metrics
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function

In [38]:
#Import the dataset
df = pd.read_csv("tic-tac-toe.csv")
df.head()

,top-left-square,top-middle-square,top-right-square,middle-left-square,middle-middle-square,middle-right-square,bottom-left-square,bottom-middle-square,bottom-right-square,class
0,x,x,x,x,o,o,x,o,o,positive
1,x,x,x,x,o,o,o,x,o,positive
2,x,x,x,x,o,o,o,o,x,positive
3,x,x,x,x,o,o,o,b,b,positive
4,x,x,x,x,o,o,b,o,b,positive

In [39]:
#Preprocessing and convertion to numbers
l1 = LabelEncoder()

l1.fit(df['top-left-square'])
for column in df.columns[:-1]:
    df[column] = l1.transform(df[column])
df.head()

,top-left-square,top-middle-square,top-right-square,middle-left-square,middle-middle-square,middle-right-square,bottom-left-square,bottom-middle-square,bottom-right-square,class
0,2,2,2,2,1,1,2,1,1,positive
1,2,2,2,2,1,1,1,2,1,positive
2,2,2,2,2,1,1,1,1,2,positive
3,2,2,2,2,1,1,1,0,0,positive
4,2,2,2,2,1,1,0,1,0,positive

In [40]:
l2 = LabelEncoder()

l2.fit(df['class'])
df['class'] = l2.transform(df['class'])
df.head()

,top-left-square,top-middle-square,top-right-square,middle-left-square,middle-middle-square,middle-right-square,bottom-left-square,bottom-middle-square,bottom-right-square,class
0,2,2,2,2,1,1,2,1,1,1
1,2,2,2,2,1,1,1,2,1,1
2,2,2,2,2,1,1,1,1,2,1
3,2,2,2,2,1,1,1,0,0,1
4,2,2,2,2,1,1,0,1,0,1

In [125]:
Y = df['class'].values
Y = Y.reshape(-1,1)
X = df.drop(['class'], axis=1).values
X = np.vstack((np.ones(X.shape[0],),X.T))
X = X.T